@model	TestC.Models.Client
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewing a Clients's details";
}
<div class="panel	panel-primary">
    <div class="panel-heading">
        Viewing a Clients's details
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon
																												glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Name,new {htmlAttributes 
               = new {@class = "form-control",disabled = "disabled"}})

            </div>
        </div>
    </div>
    <div class="panel-footer	panel-info">
        @Html.ActionLink("Change", "Edit", new{id =Model.ClientId}, new {@class ="btn	btn-info"})

        @Html.ActionLink("Return to list of Clients","Index", null, new{@class ="btn	btn-info"})
    </div>
</div>